<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.mapmygasadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapMyGasAdmin.noActionBar">
        <activity android:name=".ViewAdminsActivity" android:parentActivityName=".MainActivity" android:label="MMG Admins"/>
        <activity
            android:name=".stationView.StationActivity"
            android:parentActivityName=".stationView.ViewStationsActivity" />
        <activity
            android:name=".stationView.ViewStationsActivity"
            android:label="Stations"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InviteActivity"
            android:label="Invite Station"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>